@media (max-width: 800px) {
  .preview-alarm {
    width: 550px;
    height: 600px;
  }
  .set-time {
    width: 300px;
  }
  .box {
    width: 500px;
  }
  .song {
    width: 300px;
    height: 3rem;
  }
  .audioname {
    font-size: 0.7rem;
  }
  .song p span {
    font-size: 1rem;
  }
  .on,
  .off {
    right: 50px;
  }
}
@media (max-width: 600px) {
  @import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
  * {
    font-family: "Roboto", sans-serif;
  }
  .clock {
    height: 350px;
    width: 350px;
  }
  .time {
    font-size: 1rem;
  }
  .buttons button,
  .alarmstop {
    font-size: 0.7rem;
    width: 5.5rem;
  }
  .preview-alarm {
    width: 440px;
    height: 550px;
  }
  .set-time {
    width: 300px;
    height: 3rem;
  }
  .audio p {
    top: -11px;
  }
  .alarm-hour::after,
  .alarm-minute::after {
    font-size: 0.5rem;
  }
  .box {
    width: 400px;
  }
  .song {
    width: 300px;
    height: 3rem;
  }
  .audioname {
    font-size: 0.7rem;
  }
  .song p span {
    font-size: 1rem;
  }
  .on,
  .off {
    right: 50px;
  }
  .ok {
    width: 5rem;
    font-size: 0.8rem;
    margin: 0.5rem;
  }
  .text-footer {
    font-family: "Open Sans", sans-serif;
  }
}
@media (max-width: 480px) {
  .text-footer {
    font-size: 0.6rem;
  }
  .preview-alarm {
    width: 365px;
    height: 500px;
  }
  .box {
    width: 350px;
  }
  .song {
    height: 2.4rem;
  }
  .ok {
    width: 4rem;
  }
}
